<app-toolbar
  [showHomeButton]="showHome"
  [profile]="profile"
  [showLogout]="showLogout"
></app-toolbar>
<div fxLayout="row" fxLayoutAlign="center center" class="activation-card">
  <h1 style="color: blueviolet">Pedir Turno</h1>
</div>
<div class="cnt-form" style="color: blueviolet">
  <div class="button-filter">
    <button (click)="filterLastName()">Apellido</button>
    <button (click)="filterPractice()">Especialidad</button>
    <button (click)="filterWeek()">Semana</button>
  </div>
  <div class="listado-apellido" *ngIf="this.listadoMostrar == 'doctor-list'">
    <ul>
      <li
        *ngFor="let profesional of this.doctors | isActive"
        (click)="selectProfesional(profesional.email)"
      >
        <p style="color: white; font-size: large">{{ profesional.apellido }}</p>
      </li>
    </ul>
  </div>
  <div class="listado-apellido" *ngIf="this.listadoMostrar == 'practice-list'">
    <ul>
      <li
        *ngFor="let especialidad of this.practices"
        (click)="selectPractice(especialidad.nombre)"
      >
        <b style="color: white">{{ especialidad.nombre | uppercase }}</b>
      </li>
    </ul>
  </div>
  <div class="listado-apellido" *ngIf="showSpecialtyDoctors">
    <ul>
      <li
        *ngFor="let profesional of this.specialtyDoctors | isActive"
        (click)="selectProfesional(profesional.email)"
      >
        <p style="color: white; font-size: large">{{ profesional.apellido }}</p>
      </li>
    </ul>
  </div>
  <div
    class="listado-apellido"
    *ngIf="showSpecialtyDoctors && (specialtyDoctors | isActive).length == 0"
  >
    <br />
    <h1 style="color: blueviolet; text-align: center">
      No hay doctores disponibles
    </h1>
  </div>
  <div class="listado-apellido" *ngIf="this.listadoMostrar == 'listado-semana'">
    <ul>
      <li *ngFor="let day of this.weekDays" (click)="selectWeekday(day)">
        <b style="color: white">{{ day | uppercase }}</b>
      </li>
    </ul>
  </div>
  <div
    class="listado-apellido"
    *ngIf="showWeekDoctors && this.weekDoctors.length > 0"
  >
    <ul>
      <li
        *ngFor="let doctor of this.weekDoctors | isActive"
        (click)="selectProfesional(doctor.email)"
      >
        <p style="color: white; font-size: large">{{ doctor.apellido }}</p>
      </li>
    </ul>
  </div>
  <div class="listado-apellido" *ngIf="showWeekDoctors && !doctorsAvailable">
    <br />
    <h1 style="color: blueviolet; text-align: center">
      No hay doctores disponibles
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="activation-card">
    <mat-card style="width: 25%" *ngIf="showAppointmentBoard">
      <mat-card-header>
        <mat-card-title style="color: blueviolet"
          >Seleccionar Horario</mat-card-title
        >
      </mat-card-header>
      <mat-card-content fxLayout="column">
        <input
          matInput
          [matDatepicker]="picker1"
          [formControl]="date"
          style="color: blueviolet"
          [matDatepickerFilter]="sundayFilter"
          [min]="minDate"
          [max]="maxDate"
          (dateInput)="retrieveAvailableAppointments()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
          style="color: blueviolet"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <br />
        <mat-select
          id="selectTime"
          panelClass="mat-select-panel"
          [formControl]="selectedTime"
          required
          placeholder="Seleccione horario"
        >
          <mat-option
            style="color: blueviolet"
            value="{{ appointment }}"
            *ngFor="let appointment of appointments"
          >
            {{ appointment }}
          </mat-option>
        </mat-select>
        <br />
        <button
          mat-raised-button
          color="primary"
          [disabled]="!selectedTime.valid && !date.valid"
          (click)="saveAppointment()"
        >
          Guardar
        </button>
      </mat-card-content>
    </mat-card>
    <div></div>
  </div>
</div>
