<h1 mat-dialog-title>Observaciones</h1>
<div mat-dialog-content *ngFor="let field of fields; let in = index">
  <li class="mat-form-field--inline">
    <mat-form-field>
      <input
        placeholder="Ingrese nombre de la observación"
        matInput
        [(ngModel)]="fields[in].fieldName"
        [disabled]="data.readOnly"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <input
        placeholder="Complete la informacion"
        matInput
        [(ngModel)]="fields[in].fieldValue"
        [disabled]="data.readOnly"
        required
      />
    </mat-form-field>
  </li>
</div>

<div mat-dialog-actions>
  <button
    mat-button
    *ngIf="!data.readOnly"
    (click)="add()"
    [disabled]="fields.length > 6"
  >
    Agregar Campos
  </button>
  <button mat-button (click)="onNoClick()" *ngIf="!data.readOnly">
    Cancelar
  </button>
  <button
    mat-button
    [mat-dialog-close]="fields"
    [disabled]="
      fields[0].value === '' &&
      fields[1].value === '' &&
      fields[2].value === '' &&
      fields[3].value === ''
    "
    cdkFocusInitial
  >
    Ok
  </button>
</div>
