<app-toolbar
  [showLogout]="showLogout"
  [profile]="profile"
  [showHomeButton]="showHome"
></app-toolbar>
<div fxLayout="row" fxLayoutAlign="center center" class="cntRegistro">
  <div class="options" *ngIf="!user">
    <button mat-raised-button color="primary" (click)="nuevo('patient')">
      Soy un Paciente
    </button>
    <button mat-raised-button color="accent" (click)="nuevo('doctor')">
      Soy un Profesional
    </button>
    <button mat-raised-button color="warn" routerLink="/Login">Cancelar</button>
  </div>
  <form
    class="formulario"
    [formGroup]="registrationForm"
    *ngIf="user == 'patient'"
    novalidate
  >
    <h1 class="title">Alta Paciente</h1>
    <mat-form-field class="datos-pacientes-pt1">
      <input
        matInput
        formControlName="firstName"
        placeholder="Nombre"
        required
      />
    </mat-form-field>

    <mat-form-field class="datos-pacientes-pt1">
      <input
        matInput
        formControlName="lastName"
        placeholder="Apellido"
        required
      />
    </mat-form-field>
    <mat-form-field class="datos-pacientes-pt1">
      <input
        matInput
        formControlName="email"
        placeholder="Correo Electrónico"
        required
        email="true"
      />
    </mat-form-field>
    <mat-form-field class="datos-pacientes-pt1">
      <input
        matInput
        formControlName="password"
        placeholder="Contraseña"
        type="password"
        required
        color="primary"
        minlength="6"
      />
    </mat-form-field>
    <mat-form-field class="datos-pacientes-pt1">
      <input
        matInput
        formControlName="repeatPassword"
        placeholder="Repita la Contraseña"
        type="password"
        required
        minlength="6"
      />
    </mat-form-field>
    <mat-form-field class="datos-pacientes-pt1">
      <ngx-mat-file-input
        formControlName="file"
        placeholder="Haga Click para seleccionar foto de perfil"
        required
      >
      </ngx-mat-file-input>
    </mat-form-field>
    <mat-form-field class="datos-pacientes-pt1">
      <ngx-mat-file-input
        formControlName="file2"
        placeholder="Haga Click para seleccionar foto de perfil"
        required
      >
      </ngx-mat-file-input>
    </mat-form-field>
    <div class="captcha">
      <div class="captcha-submit">
        <re-captcha
          (resolved)="resolved($event)"
          siteKey="6Lc37tcZAAAAAD1_v5hyCRBYij16vfQm2GFm7wvn"
        >
        </re-captcha>
      </div>
      <p></p>
    </div>
    <div class="rto">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!registrationForm.valid || !captchaResolved"
        (click)="register()"
      >
        Registrar
      </button>
      <button mat-raised-button color="primary" (click)="cancel()">
        Cancelar
      </button>
    </div>
  </form>
  <form
    class="formularioProfesional"
    [formGroup]="doctorRegistrationForm"
    *ngIf="user == 'doctor'"
    novalidate
  >
    <h1 class="title" style="background: #fdd835">Alta Profesional</h1>
    <mat-form-field class="datos-pacientes-pt1">
      <input
        matInput
        formControlName="firstName"
        placeholder="Nombre"
        required
      />
    </mat-form-field>

    <mat-form-field class="datos-pacientes-pt1">
      <input
        matInput
        formControlName="lastName"
        placeholder="Apellido"
        required
      />
    </mat-form-field>
    <mat-form-field class="datos-pacientes-pt1">
      <input
        matInput
        formControlName="email"
        placeholder="Correo Electrónico"
        required
        email="true"
      />
    </mat-form-field>
    <mat-form-field class="datos-pacientes-pt1">
      <input
        matInput
        formControlName="password"
        placeholder="Contraseña"
        type="password"
        required
        color="primary"
        minlength="6"
      />
    </mat-form-field>
    <mat-form-field class="datos-pacientes-pt1">
      <input
        matInput
        formControlName="repeatPassword"
        placeholder="Repita la Contraseña"
        type="password"
        required
        minlength="6"
      />
    </mat-form-field>
    <mat-form-field class="datos-pacientes-pt1">
      <mat-label style="color: blueviolet">Seleccione Especialidad</mat-label>
      <mat-select
        id="selectPractices"
        panelClass="mat-select-panel"
        formControlName="practices"
        required
        multiple
      >
        <mat-option
          style="color: blueviolet"
          value="{{ especialidad.nombre }}"
          *ngFor="let especialidad of practices"
        >
          {{ especialidad.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-form-field class="datos-pacientes-pt1">
        <input
          matInput
          name="nueva-especialidad"
          placeholder="Agregue especialidad"
          formControlName="newPractice"
        />
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="addPractice()">
        AGREGAR
      </button>
    </div>
    <mat-form-field class="datos-pacientes-pt1">
      <ngx-mat-file-input
        formControlName="file"
        placeholder="Haga Click para seleccionar foto de perfil"
        required
      >
      </ngx-mat-file-input>
    </mat-form-field>
    <div>
      <div class="captcha-submit">
        <re-captcha
          (resolved)="resolved($event)"
          siteKey="6Lc37tcZAAAAAD1_v5hyCRBYij16vfQm2GFm7wvn"
        >
        </re-captcha>
      </div>
    </div>
    <div class="rto">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!registrationForm.valid || !captchaResolved"
        (click)="register()"
      >
        Registrar
      </button>
      <button mat-raised-button color="primary" (click)="cancel()">
        Cancelar
      </button>
    </div>
  </form>
</div>
