.activation-card {
  margin-top: 10%;
}

.tablaTurnos {
  overflow-y: scroll;
  width: 90%;
  max-height: 300px;
}

table {
  width: 100%;
}
th {
  color: white;
}

tr {
  color: blueviolet;
  text-align: center;
}
td {
  color: blueviolet;
  text-align: center;
}

tr:hover {
  background-color: var(--blueviolet);
}

tr:active {
  color: palegoldenrod;
  background-color: wheat;
}

.main-td {
  color: white;
  background-color: blueviolet;
}
