<app-toolbar
  [profile]="profile"
  [showHomeButton]="showHome"
  [showLogout]="showLogout"
>
</app-toolbar>
<div
  fxLayout="row"
  fxLayoutAlign="center center"
  class="activation-card"
  *ngIf="currentUser && !currentUser.activo && currentUser.perfil === 'doctor'"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>La cuenta esta pendiente de activación</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        La cuenta necesita ser validada por el departamento de personal. Al ser
        aprobada, verá aqui las herramientas para administrar sus turnos y
        pacientes. Por favor aguarde. De no recibir respuesta en 24hs contactese
        con RRHH.
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="center center"
  class="activation-card"
  *ngIf="currentUser && currentUser.activo && currentUser.perfil === 'doctor'"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Configurar Horarios</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        routerLink="/Administrar-horarios"
      >
        Configurar
      </button>
    </mat-card-content>
  </mat-card>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="activation-card"
  *ngIf="currentUser && currentUser.perfil === 'patient'"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pedir Turno</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1>¿Desea ser atendido?</h1>
      <button mat-raised-button color="primary" routerLink="/Pedir-turno">
        Pedir Turno
      </button>
    </mat-card-content>
  </mat-card>
  <br />
</div>
<div
  fxLayout="row"
  fxLayoutAlign="center center"
  style="width: 100%"
  *ngIf="currentUser && currentUser.perfil === 'patient'"
>
  <table
    mat-table
    [dataSource]="appointments"
    style="color: blueviolet; width: 100%"
  >
    <ng-container matColumnDef="doctorName">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.doctorName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.doctor }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Hora</th>
      <td mat-cell *matCellDef="let element">{{ element.time }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Accion(es)</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="warn"
          (click)="cancelAppointment(element)"
          [disabled]="element.isComplete || element.isCancelled"
        >
          Cancelar Turno
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="writeSummary(element)"
          [disabled]="element.isCancelled || element.hasSummaryPatient"
        >
          Dar Reseña
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="readSummary(element)"
          [disabled]="!element.hasSummaryDoctor"
        >
          Ver Reseña recibida
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="medicalHistory">
      <th mat-header-cell *matHeaderCellDef>Historia Clinica</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="accent"
          (click)="showMedicalHistory(element)"
          [disabled]="!element.isComplete"
        >
          Ver Historia Clínica
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="center center"
  style="width: 100%"
  *ngIf="currentUser && currentUser.perfil === 'doctor'"
>
  <table
    mat-table
    [dataSource]="appointments"
    style="color: blueviolet; width: 100%"
  >
    <ng-container matColumnDef="doctorName">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.patientName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.patient }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Hora</th>
      <td mat-cell *matCellDef="let element">{{ element.time }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Accion(es)</th>
      <td mat-cell *matCellDef="let element">
        <button
          [disabled]="element.isComplete || element.isCancelled"
          mat-raised-button
          color="primary"
          (click)="activateAppointment(element)"
        >
          Atender
        </button>
        <button
          [disabled]="element.isComplete || element.isCancelled"
          mat-raised-button
          color="warn"
          (click)="cancelAppointment(element)"
        >
          Cancelar Turno
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="writeSummary(element)"
          [disabled]="!element.isComplete || element.hasSummaryDoctor"
        >
          Dar Reseña
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="readSummary(element)"
          [disabled]="!element.hasSummaryPatient"
        >
          Ver Reseña recibida
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="medicalHistory">
      <th mat-header-cell *matHeaderCellDef>Historia Clinica</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="accent"
          (click)="showMedicalHistory(element)"
          [disabled]="!element.isComplete"
        >
          Ver Historia Clínica
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
